<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <div class="masthead-brand"><%= link_to image_tag("profile-picture.jpg" , class:"small-profile-picture"), home_path %></div>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Projects', projects_path %></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>