<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <div class="masthead-brand"><%= image_tag "profile-picture.jpg" , class:"small-profile-picture" %></div>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>