<header id="myCarousel" class="carousel slide"> 
  <div class="carousel-inner">
      <div class="item active">
          <div class="fill" id="home-slide"></div>
          <div class="carousel-caption" id="home-caption">
              <h2 id="home-title">Freddy Wong</h2>
              <p class="paragraph">I'm a <em>full stack</em> developer passionate about <br> Ruby on Rails and Javascript</p>
              <p class="paragraph">
              <%= link_to 'Projects',{controller: "pages", action: "projects"}, class: "home-project-btn" %>
              </p> 
          </div>

      </div>
  </div>
</header>

