<div class="inner cover">
  <h1 class="cover-heading">Freddy Wong</h1>
  <p class="lead cover-text">I'm a full stack developer and I love working with <br><span class="ruby-color"><strong>Ruby on Rails</strong></span> and <span class="blue-color"><strong>Javascript Frameworks</strong></span></p>
  <p class="lead">
    <a href="#" class="project-btn">Projects</a>
  </p>
</div>

