<div class="inner cover">
  <h1 class="cover-heading">Projects</h1>
  <div class="single-item">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div>
  <p class="lead">
  </p>
</div>
