
  <div class="project-slider">
    <div><%= image_tag 'evently-imac.jpg', class: 'slide-picture-1'%><p class="slide-text-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam esse, veritatis asperiores porro tenetur corrupti odio cum perferendis voluptatem, blanditiis ipsum, corporis labore. Repellendus culpa itaque veritatis et, delectus ullam.</p></div>
    <div><%= image_tag 'carbonatr-macbook.jpg', class: 'slide-picture-2' %></div>
  </div>
  <div class="project-text">
    <div><p class="lead"></p></div>
    <div><p class="lead">text 2</p></div>
  </div>


