html,
body {
  height: 100%;
  font-family: lato;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.navbar-inverse {
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0);
}

#home-caption {
  text-shadow: none;
  font-family: lato, helvetica;
  color:#fff;  
  width: 700px;
  height: 300px;
  position:fixed;
  top: 55%;
  left: 50%;
  margin-top: -150px;
  margin-left: -350px;

}

#home-title {
  font-size: 4em;

}
.paragraph {
  font-size: 1.5em;
}

#blue-color {
  color:blue;
}

#ruby-color {
  color:#e02837;
}

#first-slide {
  background-image: url('evently-imac-modified.png');
}

#second-slide {
  background-image: url('carbonatr-macbook.jpg');
}

#third-slide {
  background-image: url('carbonatr-macbook.jpg');
}

.tech-text {
  color: #000;
}
#first-slide-caption {
  text-align: left;
  text-shadow: none;
  font-family: lato, helvetica;
  color:#5e6668;  
  width: 350px;
  height: 300px;
  position:fixed;
  top: 45%;
  left: 25%;
  margin-top: -150px;
  margin-left: -175px;    
}

#second-slide-caption {
  text-align: left;
  text-shadow: none;
  font-family: lato, helvetica;
  color:#5e6668;  
  width: 350px;
  height: 300px;
  position:fixed;
  top: 45%;
  left: 75%;
  margin-top: -150px;
  margin-left: -175px;    
}

.profile-picture {
  border-radius: 50%;
  height: 60px;
  width: auto;
}


#nav-container {
  font-family: helvetica;  
  padding: 10px 0px 10px 0px;  
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#nav-words {
  padding-top:5px;  
  float: right;
  font-size: 1.5em;
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #5e6668;  
}


#home-slide {
  background: url("tokyo-office.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-project-btn {
  border-radius: 5px;  
  font-family: Arial;
  color: #ffffff;
  font-size: 29px;
  background: rgba(255,255,255,0);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 3px solid white;
}

.home-project-btn:hover {
  text-decoration: none;
  color: #5e6668;
}

.carbonatr-project-btn {
  border-radius: 5px;  
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5em;
  background: rgba(255,255,255,0);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 3px solid white;
}

.carbonatr-project-btn:hover {
  text-decoration: none;
  color: #5e6668;
}

.evently-project-btn {
  border-radius: 5px;  
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5em;
  background: rgba(255,255,255,0);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 3px solid white;
}

.evently-project-btn:hover {
  text-decoration: none;
  color: #5e6668;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

footer {
  margin: 50px 0;
}